/* Write your code here. */
.card {
  border-style: solid;
  border-width: 2px;
  border-color: #ffffff30;
  border-radius: 10px;
  width: 90%;
  text-align: center;
  padding:10px;
  color:white
}
.win-lose-emoji {
  height: 130px;
  width: 100px;
}
@media screen and (min-width:768px){
  .card {
    width: 40%;
  }
}
.result-text{
    font-family:"Roboto";
    color:white;
    font-size:24px;
    font-weight:bold;
}
.btn{
    height:30px;
    width:90px;
    background-color: #ffce27;
    color:white;
    border-radius:10px;
}
.result-score{
    font-family:"Roboto";
    color:#9796f0;
    font-size:35px;
    font-weight:bold;
}